<!DOCTYPE html>
<html>
<head>
    <title>ASM_APDP</title>
</head>
<body>
    <header>
        <h1>ASM_APDP</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
