@{
    Layout = "_Layout";
}

<h2>Welcome, @User.Identity.Name!</h2>

<!-- Nút Xem Lịch Học -->
<a href="@Url.Action("ViewSchedule", "Student")">
    <button>View Schedule</button>
</a>


<a href="@Url.Action("UpdateProfile", "Student")">
    <button>Update Profile</button>
</a>




<!-- Nút Logout -->
<form method="post" action="@Url.Action("Logout", "Auth")">
    <button type="submit">Logout</button>
</form>
