@{
    Layout = "_Layout";
}

<h2>Welcome to Admin Home</h2>



<!-- Nút CreateAccountTeacher -->
<a href="@Url.Action("CreateAccountTeacher", "Admin")">
    <button>Create Teacher Account</button>
</a>

<a href="@Url.Action("ManageCourse", "Admin")">
    <button>Manage Courses</button>
</a>


<a href="@Url.Action("ManageSubject", "Admin")">
    <button>Manage Subjects</button>
</a>


<!-- Nút Logout -->
<form method="post" action="@Url.Action("Logout", "Admin")">
    <button type="submit">Logout</button>
</form>
